@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
body {
    font-family: 'Inconsolata', monospace;
}
h1 {
    
}

h2 {
}

h3 {
}

h4 {
}
.padding-h4{
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.list{

}

.padding-list{
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 60px;
}


.bio {
  }

  html {
    scroll-behavior: smooth;
  }