h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 5em;
}

h2 {
  font-size: 1.5rem;
}

.row-1 {
    overflow: shown;
    background-color: #f1f1f1;
    width: 110%;
    padding-top: 330px;
  }

.row-2 {
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;  
}

.container-fluid {
  font-family: 'Inconsolata', monospace;
}  

.padding {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
}

h3 {
    font-size: 80px
}

.padding-list{
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 60px;
}


.bio {
    padding: 40px 10px;

}

  html {
    scroll-behavior: smooth;
  }

.r1c2 {
  padding: 10px;
}

.r1c2 a {
  padding: 5px;
}